<template>
  <v-container>
    <v-layout row>
      <v-flex xs12>
        <v-card v-if="!loading">
          <v-img
           :src="ad.imageSrc"
           height="300px"
          >
          </v-img>
          <v-card-title class="text--primary">{{ ad.title }}</v-card-title>
          <v-card-text>
            <p>{{ ad.description }}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <add-edit-ad-modal :ad="ad" class="mr-1"></add-edit-ad-modal>
            <v-btn class="success">Buy</v-btn>
          </v-card-actions>
        </v-card>
        <div v-else class="text-sm-center">
          <v-progress-circular
                  :size="250"
                  :width="1"
                  color="primary"
                  indeterminate
          ></v-progress-circular>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import EditAdModal from './EditAdModal'
export default {
  props: ['id'],
  computed: {
    ad () {
      const id = this.id
      return this.$store.getters.adById(id)
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  components: {
    addEditAdModal: EditAdModal
  }
}
</script>

<style scoped>

</style>
