<template>
    <div class="text-center">
        <v-dialog
                v-model="dialog"
                width="500"
        >
            <template v-slot:activator="{ on }">
                <v-btn
                        color="warning lighten-2"
                        dark
                        v-on="on"
                >
                    Edit
                </v-btn>
            </template>
            <v-card>
               <v-container>
                   <v-layout row>
                       <v-flex xs12>
                           <v-card-title>
                               <h2>Edit ad</h2>
                           </v-card-title>
                       </v-flex>
                   </v-layout>
                   <v-divider></v-divider>
                   <v-layout row>
                       <v-flex xs12>
                           <v-card-text>
                               <v-text-field
                                       type="title"
                                       label="title"
                                       name="text"
                                       v-model="editedTitle"
                               >
                               </v-text-field>
                               <v-textarea
                                       type="description"
                                       label="description"
                                       name="description"
                                       v-model="editedDescription"
                                       multi-line
                               >
                               </v-textarea>

                           </v-card-text>
                       </v-flex>
                   </v-layout>
                   <v-divider></v-divider>
                   <v-layout row>
                       <v-flex xs12>
                           <v-card-actions>
                               <v-btn @click="onCancel" >Cancel</v-btn>
                               <v-btn class="success" @click="onSave">Save</v-btn>
                           </v-card-actions>
                       </v-flex>
                   </v-layout>
               </v-container>
            </v-card>
        </v-dialog>
    </div>
</template>
<script>
export default {
  props: ['ad'],
  data () {
    return {
      dialog: false,
      editedTitle: this.ad.title,
      editedDescription: this.ad.description
    }
  },
  methods: {
    onCancel () {
      this.editedDescription = this.ad.description
      this.editedTitle = this.ad.title
      this.dialog = false
    },
    onSave () {
      if (this.editedDescription !== '' && this.editedTitle !== '') {
        this.$store.dispatch('updateAd', {
          title: this.editedTitle,
          description: this.editedDescription,
          id: this.ad.id
        })
        this.dialog = false
      }
    }
  }
}
</script>
<style scoped>
</style>
