<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">Orders</h1>
        <v-list two-line subheader>
          <v-list-item
          v-for="order in orders"
          :key="order.id"
          >
              <v-list-item-action>
                <v-switch
                  color="green darken-3"
                  :input-value="order.done"
                  @change="markDone(order)"
                  :disabled="order.done"
                ></v-switch>
              </v-list-item-action>
            <v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ order.name }}</v-list-item-title>
                <v-list-item-subtitle>{{ order.phone }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item-action>
            <v-btn class="primary"
              :to=" '/ad/' + order.ids "
            >Open
            </v-btn>
          </v-list-item>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      orders: [
        {
          id: 'fgrt',
          name: 'Dmytro',
          phone: '8-0800-3434-4-1',
          adId: '123',
          done: false
        }
      ],
      checkbox: false
    }
  },
  methods: {
    markDone (order) {
      order.done = true
      console.log(order.done)
    }
  }
}
</script>

<style scoped>

</style>
