<template>
  <div>
  <div v-if="!loading">
    <v-container
      fluid
    >
      <v-layout>
        <v-flex xs12>
    <v-carousel>
      <v-carousel-item
        v-for="ad in promoAds"
        :key="ad.id"
        :src="ad.imageSrc"
      >
          <v-row
            class="fill-height"
            align="center"
            justify="center"
          >
            <!--<div class="display-4 light-blue white&#45;&#45;text">{{ ad.description }}</div>-->
          </v-row>
        <div class="carusel-link">
          <v-btn
            class="error"
            :to="'/ad/' + ad.id"
          >{{ ad.title }}
          </v-btn>
        </div>
      </v-carousel-item>
    </v-carousel>
        </v-flex>
      </v-layout>
    </v-container>
    <!--end container-->
  <v-container grid-list-lg>
    <v-layout row wrap>
      <v-flex
        xs12
        sm6
        md4
        v-for="ad in ads"
        :key="ad.id"
      >
        <v-card
          max-width="344"
          class="mx-auto"
        >
          <v-img
            :src="ad.imageSrc"
            height="200px"
          ></v-img>
          <v-card-title primary-title>
            <h3 class="headline mb-0">{{ ad.title }}</h3>
          </v-card-title>
          <v-card-text>
            <p>{{ ad.description }}</p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text color="orange"
             :to="'/ad/' + ad.id"
            >Open</v-btn>
            <!--<v-btn text color="orange">Explore</v-btn>-->
            <!--<v-spacer></v-spacer>-->
            <!--<v-btn icon>-->
              <!--<v-icon>mdi-heart</v-icon>-->
            <!--</v-btn>-->
            <!--<v-btn icon>-->
              <!--<v-icon>mdi-share-variant</v-icon>-->
            <!--</v-btn>-->
          </v-card-actions>
        </v-card>
        <v-spacer></v-spacer>
      </v-flex>
    </v-layout>
  </v-container>
  </div>
    <div v-else>
      <v-container>
        <v-layout row>
          <v-flex xs12 class="text-sm-center pt-5">
            <v-progress-circular
                    :size="250"
                    :width="1"
                    color="primary"
                    indeterminate
            ></v-progress-circular>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
    </div>
</template>
<script>
export default {
  computed: {
    promoAds () {
      return this.$store.getters.promoAds
    },
    ads () {
      return this.$store.getters.ads
    },
    loading () {
      return this.$store.getters.loading
    }
  }
}
</script>
<style scoped>
.carusel-link{
  position: absolute;
  bottom: 50px;
  left: 50%;
  background: rgba(0, 0, 0, .5);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  padding: 5px 15px;
  -webkit-border-top-right-radius:5px;
  border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
  border-top-left-radius:5px;
}
</style>
