<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" temporary app>
      <v-list>
        <v-list-item
          v-for="link in links"
          :key="link.title"
          :to="link.url"
        >
          <v-list-item-icon>
            <v-icon v-if="link.icon">{{ link.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="link.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!--log out button-->
        <v-list-item
          @click="onLogout"
          v-if="isUserLoggedIn"
        >
          <v-list-item-icon>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text=" 'LogOut' "></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!--log out button end-->
      </v-list>
    </v-navigation-drawer>
    <!--drawer end-->
    <v-app-bar app dark color="primary">
      <v-app-bar-nav-icon class="hidden-md-and-up"  @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" class="pointer">Shkurka.store</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-for="link in links"
          :key="link.title"
          :to="link.url"
          text
        >
          <v-icon left>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <!--Log out btn-->
        <v-btn
          @click="onLogout"
          text
          v-if="isUserLoggedIn"
        >
          <v-icon left>mdi-exit-to-app</v-icon>
          logOut</v-btn>
        <!--Log out btn-->
      </v-toolbar-items>
    </v-app-bar>
    <!--toolbar end-->
    <v-content>
      <router-view></router-view>
    </v-content>
    <!--Error template-->
    <template v-if="error">
      <v-snackbar
            :timeout="5000"
            :multi-line="true"
            color="error"
            @input="closeError"
            :value="true"
    >
      {{ error }}
      <v-btn
              dark
              text
              @click="closeError"
      >
        Close
      </v-btn>
    </v-snackbar>
   </template>
    <!--Error template end-->
  </v-app>
</template>
<script>
export default {
  data () {
    return {
      drawer: false
    }
  },
  computed: {
    error () {
      return this.$store.getters.error
    },
    isUserLoggedIn () {
      return this.$store.getters.isUserLoggedIn
    },
    links () {
      if (this.isUserLoggedIn) {
        return [
          // { title: 'Login', icon: 'mdi-lock', url: '/login' },
          // { title: 'Registration', icon: 'mdi-face', url: '/registration' },
          { title: 'Orders', icon: 'mdi-bookmark-outline', url: '/orders' },
          { title: 'New ad', icon: 'mdi-file-plus', url: '/new' },
          { title: 'My ads', icon: 'mdi-format-list-bulleted', url: '/list' }
        ]
      } else {
        return [
          { title: 'Login', icon: 'mdi-lock', url: '/login' },
          { title: 'Registration', icon: 'mdi-face', url: '/registration' }
        ]
      }
    }
  },
  methods: {
    closeError () {
      this.$store.dispatch('clearError')
    },
    onLogout () {
      this.$store.dispatch('logoutUser')
      this.$router.push('/')
    }
  }
}
</script>
<style scoped>
.pointer {cursor: pointer;}
</style>
