<template>
  <v-container fluid>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md6>
        <v-card width="400" class="mx-auto mt-5">
          <v-toolbar-title class="text-center">Registration form</v-toolbar-title>
          <v-card-text>
            <v-form v-model="valid" ref="form">
              <v-text-field
                type="email"
                label="Email"
                name="email"
                prepend-icon="mdi-email"
                v-model="email"
                :rules="emailRules"
                lazy-validation
              >
              </v-text-field>
              <v-text-field
                :type="ShowPassword ? 'text' : 'password' "
                :counter="6"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                :append-icon="ShowPassword ? 'mdi-eye' : 'mdi-eye-off' "
                @click:append="ShowPassword = !ShowPassword"
                v-model="password"
                :rules="passwordRules"
              >
              </v-text-field>
              <v-text-field
                :type="ShowConfirmPassword ? 'text' : 'password' "
                :counter="6"
                name="confirm-password"
                label="Confirm  Password"
                prepend-icon="mdi-lock"
                :append-icon="ShowConfirmPassword ? 'mdi-eye' : 'mdi-eye-off' "
                @click:append="ShowConfirmPassword = !ShowConfirmPassword"
                v-model="confirmPassword"
                :rules="confirmPasswordRules"
              >
              </v-text-field>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              @click="onSubmit"
              :loading="loading"
              :disabled="!valid || loading"
            >Create Account</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confirmPassword: '',
      ShowPassword: false,
      ShowConfirmPassword: false,
      valid: true,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      passwordRules: [
        v => !!v || 'Password is required',
        v => v.length >= 6 || 'Password must be equal or more than 6 characters'
      ],
      confirmPasswordRules: [
        v => !!v || 'Password is required',
        v => v === this.password || 'Password not matched!'
      ]
    }
  },
  computed: {
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    onSubmit () {
      if (this.$refs.form.validate()) {
        const user = {
          email: this.email,
          password: this.password
        }
        this.$store.dispatch('registerUser', user)
          .then(() => {
            this.$router.push('/')
          })
          .catch(() => {})
      }
    }
  }
}
</script>

<style scoped>

</style>
